.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} OC Project
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "/"} Home
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#contact"} Contact
        %li
          %a{:href => "posts", :role => "button"} Posts
      %ul.nav.navbar-nav.navbar-right
        - if @current_user
          %li
            %a #{@current_user.username}
          %li.active
            %a{:href => "myposts", :role => "button"} MyPosts
          %li
            =link_to 'Logout', logout_path
        - else
          %li.active
            =link_to 'Login', login_path
          %li
            =link_to 'Register', register_path
.container{:style => "width:1000px;margin-top: auto; margin-left: auto; raduis:0px;"}
  %ul.breadcrumb.menu.clearfix
    %li
      %a{:href => "/"} Home
      %span.divider
    %li.active
      %a{:href => "/posts"} posts

  .container-fluid
    
    .content{:style => "width:700px;margin-top: auto; margin-right: 260px; raduis:0px;position: absolute;"}
      .jumbotron{:style => "padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 20px;"}
        %h3.entry-title{:style => "margin: 20px;"} Listing posts

        %table.table.table-striped

          - @posts.each do |post|
            %tr
              %td
                %dl
                  %dt.lead 
                    = link_to post.title, post
              
                  %dd
                    = truncate(strip_tags(post.content), length: 80)
                  - post.categories.each do |category|
                    %dt.label.label-primary #{category.category_title}
  .content{:style => "width:220px; margin-top: 0; margin-right: 0; margin-left: 750px; raduis:0px;position: absolute;text-align:center;"}
    .jumbotron{:style => "padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 20px;"}
      .box
      %h4.entry-title{:style => "margin: 20px;border-bottom: 1px solid #ddd; background-color: white;"} Testing
      .content
        %a.btn.btn-success{:href => 'new', :role => 'button', :style => "margin: auto;"} New Paper