#side {
}
#main {
  .list_actions {
  	font-size:x-small;
    text-align:right;
    padding-left: 1em;
  }

  .list_category {
  	color: blue;
  }
}
.jumbotron {
 font-size: 16px;
 padding-left: 10px;
 padding-right: 10px;
}