.posts {

  #index.container {
    width: 1000px;
    margin-top: 20px; 
    margin-left: auto;
  }

  #main.content {
    width: 700px;
    margin-top: auto; 
    margin-right: 260px; 
    position: absolute;

    #category.jumbotron {
      .form-control {
        width: 60%; 
        height: 30px;
      }
    }


    .jumbotron {

      a {
        text-decoration: underline;
        margin: auto;
          
        .node {
          padding:1px 5px;
          color: #778087;
          background-color: #f5f5f5;
        }
      }

      dd {
        font-size: 14px;
      }

      #good_bad {
        text-align:center;
      }

      .info.leader{
        font-size: 12px;
        border-bottom: 1px solid #ddd; 
        background-color: white;
      }

      p {
        margin: 20px;

        .list-group-item-text {
          line-height: 20px; 
          font-size: 14px;
          padding: 5px;
          background-color: #f1f1f1;
          background-color: white;
        }

        button {
          margin-top: 20px;
        }
      }
    }

  }

  #side.content {
    width: 220px; 
    margin-top: auto; 
    margin-right: 0; 
    margin-left: 750px; 
    position: absolute;
    text-align:center;
          
  }

  .jumbotron {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 20px;

  }

  h4 {
    .entry-title {
      margin: 20px;
      border-bottom: 1px solid #ddd; 
      background-color: white;
    }
  }

  h3 {
    margin: 20px;

    .entry-title {
      margin: 20px;
      margin-top: 0;
      border-bottom: 1px solid #ddd;
    }
  } 

}