.users {

  fieldset {
    margin-top: 100px;
  }

  legend {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  label {
    margin-bottom: 10px;
  }

  button {
  }

  input {
    margin-bottom: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .form-signin {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 500px;
    padding: 10px;
    margin: 0 auto;
  }

}