!!!
%html
  %head
    %title BBS Of Lee
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    //%script{:src => "http://static.blog.csdn.net/scripts/jquery.js", :type => "text/javascript"}
    //%script{:src => "http://static.blog.csdn.net/xheditor/xheditor-1.1.13-zh-cn.js", :type => "text/javascript"}
  %body{:class => controller.controller_name}
    = yield
